{% extends 'base.html.twig' %}

{% block title %}
	{{"Subscription"|trans}}
{% endblock %}

{% block body %}
	{% if app.user and 'ROLE_PREMIUM' in app.user.roles %}
		<h1 class="text-4xl font-semibold text-center mt-12 mb-8">{{"You are already Premium !"|trans}}</h1>
		<section class="">
			<article class="flex flex-col justify-center items-center">
				<h2>Premium</h2>
				<h3></h3>
				<form action="{{path('app_subscription_unpremium')}}" method="POST">
					<button class="mb-12 bg-red-600 text-white rounded-md px-4 py-2 font-semibold hover:scale-105 hover:bg-red-500 transition-transform duration-200 ease-in-out">UNSUBSCRIBE</button>
				</form>
			</article>
		</section>
	{% else %}
		{% if premium is defined %}
			<h1 class="text-4xl font-semibold text-center mt-12 mb-8">{{"Welcome to our premium service!"|trans}}</h1>
			<section class="flex justify-center">
				<article class="flex flex-col justify-center items-center">
					<h2 class="text-5xl font-semibold text-yellow-500">{{"Premium"|trans}}</h2>
					<h3 class="text-2xl font-semibold my-4">{{premium.price}}</h3>
					<p class="mb-4 text-center">{{premium.features|replace({'-': '<br>'})|raw}}</p>
					<form action="{{path('app_subscription_checkout')}}" method="POST">
						<button class="mb-12 text-3xl bg-yellow-500 text-white rounded-md px-4 py-2 font-semibold hover:scale-105 hover:bg-yellow-400 transition-transform duration-200 ease-in-out">SUBSCRIBE</button>
					</form>
				</article>
			</section>
		{% else %}
			<h1>{{"There is no offer for now !"|trans}}</h1>
		{% endif %}
	{% endif %}

{% endblock %}
