{# WHEN USER ISN'T LOG #}
<a href="{{path('app_note_all')}}" data-tooltip="All notes" class="border-2  border-neutral-700 p-1 rounded-md  hover:bg-neutral-200">
	{{ux_icon('mdi:note-outline',{'class':'h-6 w-6'})}}
</a>
<a href="{{path('app_login')}}" data-tooltip="Login" class="border-2  border-neutral-700 p-1 rounded-md  hover:bg-neutral-200">
	{{ux_icon('mdi:user',{'class':'h-6 w-6'})}}
</a>
<a href="{{path('app_register')}}" data-tooltip="Register" class="border-2  border-neutral-700 p-1 rounded-md  hover:bg-neutral-200">
	{{ux_icon('mdi:register-outline',{'class':'h-6 w-6'})}}
</a>
